# Requirements files serve as a list of items to be installed by pip,
# when using pip install. Files that use this format are often called
# “pip requirements.txt files”, since requirements.txt is usually what
# these files are named (although, that is not a requirement).

Flask==3.0.3
requests==2.32.3
